<!DOCTYPE html>
<html lang="eng">

<head>
    <meta charset="UTF-8" />
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/style.css" />
</head>

<body>
    <nav class="navbar">
        <div class="nav-left">
            <a href="/">Event Scheduler</a>
        </div>

        <div class="nav-right">
            {% if user %}
            <a href="/events">My Events</a>
            <a href="/auth/logout" class="logout-btn">Logout</a>
            {% else %}
            <a href="/login">Login</a>
            <a href="/register">Register</a>
            {% endif %}
        </div>
    </nav>

    <main class="container">
        {% block content %}{% endblock %}
    </main>
</body>

</html>